 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="nav" style="background-color:black">
	  <a class="nav-link active" aria-current="page" href="/">Home</a>
	  <a class="nav-link" href="/products">Products</a>
	  <a class="nav-link" href="/cart">Cart <span th:utext = "${ totalItems }" class="badge rounded-pill bg-secondary">Primary</span></a> 
	  <a class="nav-link" href="/Addproduct">Add new product</a>
	</nav>
	
	<div>
		<tr>
			<div class="col-sm-5" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Description</th>
								<th>Price</th>
								<th>Add to Cart</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${listproduct }">
								<td th:text="${product.PID}">product ID</td>
								<td th:text="${product.PName}">product Name</td>
								<td th:text="${product.PDescription}">Product Description</td>
								<td th:text="${product.PPrice}">price</td>
								<td><a th:href="@{'/addtocart/' + ${product.PID}}">Add to cart</a></td>
								<td><a th:href="@{'/delete/' + ${product.PID}}">Delete</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</tr>
	<div>
</body>
</html>